
.smallButton {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
	background: #000000;
  border: #99db76;
}


.smallButton:hover {
    background: #99db76;
    color: #ffffff;
    text-decoration: none;
}

.smallButton:before {
    background: #99db76;
    color: #ffffff;
    text-decoration: none;
}
.smallButton:after {
    background: #99db76;
    color: #ffffff;
    text-decoration: none;
}

.smallButton:focus {
  background: #000000;
    color: #ffffff;
  border: #99db76;
}


.smallButton:active {
    background: #99db76;
    text-color: #ffffff;
    text-decoration: none;
  border: #000000;
}

.botonConfig {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: #99db76;
}

.botonConfig:hover {
  background: #99db76;
  text-decoration: none;
}

.wideButton {

    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    text-decoration: none;
}


.wideButton:hover {
  background: #000000;
    color: #ffffff;
  text-decoration: none;
}


.wideButton:focus {
    color: #ffffff;
  background: #99db76;
}

.btnInfo {
  -webkit-border-radius: 55;
  -moz-border-radius: 55;
  border-radius: 55px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  background:  #000000;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}

.btnInfo:hover {
  background: #99db76;
  text-decoration: none;
}




